.about-us {
  background: #fdf2ea;
  padding: 1.5rem;

  h2 {
    @include tablet {
      font-size: 2rem;
    }
  }

  .about-content {
    margin: 0 auto;
    text-align: center;
    p {
      font-size: 1.4rem;
      margin-bottom: 2rem;
      text-align: center;
    }
  }

  .join {
    margin-bottom: 5rem;
    font-size: 1.2rem;
  }
}
