.about-us {
  background: #fdf2ea;
  padding: 1.5rem;

  .about-content {
    margin: 0 auto;
    text-align: center;
    p {
      font-size: 1.4rem;
      margin-bottom: 2rem;
      text-align: center;
    }
  }

  .join {
    margin-bottom: 2rem;
  }
}
