.contact-us {
  h2 {
    font-weight: 600;
    @include tablet {
      font-size: 2rem;
    }

    @include mobile {
      font-size: 1.8rem;
      font-weight: 600;
    }
  }

  h4 {
    font-size: 1.5rem;
  }

  .submit-form {
    margin-bottom: 2rem;
  }

  .prefix {
    color: $orange-tiger;
  }

  p {
    margin-bottom: 2rem;
  }

  img {
    max-width: 100%;
    padding: 1rem;
    margin: 1rem;
  }

  .submit-btn {
    margin: 1rem;
    font-size: 1rem;
    background-color: $orange-tiger;
  }
}
