* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 87.5%;
}

body {
  background-color: $white-bg;
  // font-family: 'Rubik', sans-serif;
  font-family: 'Montserrat', sans-serif;
  color: $black-text;
  font-weight: 400;
  line-height: 1;
}

img {
  max-width: 100%;
}
