$tablet: 769px;
$mobile: 500px;
$desktop: 1200px;
$medium: 768px;
$phone: 321px;
$fixdesktop: 1440px;
$fixHeroImage: 993px;

@mixin fixHeroImage {
  @media (max-width: $fixHeroImage) {
    @content;
  }
}

@mixin fixdesktop {
  @media (max-width: $fixdesktop) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}

// 768px and above
@mixin medium {
  @media (min-width: $medium) {
    @content;
  }
}
//768px and below
@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin phone {
  @media (max-width: $phone) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}
