$tablet: 769px;
$mobile: 500px;
$desktop: 1200px;
$medium: 768px;
$phone: 321px;

@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}

// 768px and above
@mixin medium {
  @media (min-width: $medium) {
    @content;
  }
}
//768px and below
@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin phone {
  @media (max-width: $phone) {
    @content;
  }
}
