header {
  height: 100vh;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.8),
      rgba(34, 34, 34, 0.8)
    ),
    url('../assets/images/hero-bg.jpg');
  background-size: cover;
  color: #fff;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.main-menu {
  background-color: transparent;
  margin-bottom: 5.75rem;
  @include tablet {
    margin-bottom: 2rem;
  }
}

#nav-mobile {
  margin-right: 3.125rem;
}

.brand-logo {
  display: block;
  margin-left: 3.125rem;
}

.header-container {
  padding: 0.71rem 1.43rem;
  h1 {
    font-size: 3rem;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 2.2rem;
    @include fixdesktop {
      font-size: 2rem;
      margin-bottom: 1rem;
      font-weight: 400;
      text-align: left;
    }
    @include tablet {
      margin-bottom: 2.5rem;
      font-size: 2rem;
    }
    font-weight: 700;
    line-height: 1.4;
  }

  p {
    font-size: 1.43rem;
    line-height: 1.6;
    margin-bottom: 3.43rem;
    @include fixdesktop {
      font-size: 1.2rem;
      margin-bottom: 3rem;
      text-align: justify;
    }
  }

  a {
    img {
      max-width: 100%;
      border-radius: 34% 5%;
      display: inline-block;
      padding: 0.375rem 0.714rem;
      @include fixHeroImage {
        display: none;
      }
      @include tablet {
        display: none;
      }
    }
  }
}

.button,
.button:link,
.button:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 9px;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* Put transition on original "state" */
  /* transition: background-color 0.3s; */
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;

  /* border: 3px solid #fff; */

  /* Trick to add border inside */
  box-shadow: inset 0 0 0 2px #fff;
}

.actions {
  @include phone {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 4rem;
  }
  padding-bottom: 2.5rem;
  a {
    margin-right: 1.2rem;
    @include phone {
      font-size: 12px;
    }
  }
}

.contact {
  background: $orange-tiger;
  opacity: 0.8;
  text-transform: uppercase;
  border-radius: 25px;
  font-weight: 500;
  &:hover {
    background: $neat-blue;
    color: $white-bg;
  }
}

.learn--more {
  background: $white-bg;
  color: #444;
  opacity: 0.8;
  text-transform: uppercase;
  border-radius: 25px;
  font-weight: 800;
  &:hover {
    background: $neat-blue;
    color: $white-bg;
  }
}

.nav-links-item {
  box-shadow: inset 0 0 0 0 $orange-tiger;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.nav-links-item:hover {
  box-shadow: inset 300px 0 0 0 $orange-tiger;
}

// .active {
//   background: linear-gradient(to right, #f25f4c 0%, #f25f4c 5px, transparent);
//   opacity: 0.9;
// }
