.pricing {
  h2 {
    text-align: center;
    @include tablet {
      font-size: 2rem;
    }
    @include mobile {
      font-size: 1.8rem;
      font-weight: 600;
    }
  }

  .pricing-table {
    width: 80%;
    @include tablet {
      width: 100%;
    }
    margin: 0 auto;
    border: 1px solid #808080;
    .table-header {
      background-color: #f8f9fa;
      border-bottom: 1px solid #eee;
      padding: 5px 10px;

      h3 {
        font-family: 'Rubik';
        text-transform: uppercase;
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        @include mobile {
          font-size: 2rem;
          font-weight: 600;
        }
      }
    }
  }

  .table-content {
    h4 {
      font-weight: 900;
      font-family: 'Rubik';
      @include mobile {
        font-size: 1.8rem;
        font-weight: 600;
      }
    }
    ul {
      padding: 1rem 2rem;
      text-align: center;
      margin-bottom: 2rem;
    }
    li {
      font-size: 1.1rem;
      line-height: 3;
      text-align: center;
    }
  }

  .btn-signup {
    display: block;
    background: $orange-tiger;
    width: 100%;
  }
}

.icon-mark {
  color: $orange-tiger;
  display: inline-block;
  padding-bottom: -10px;
  margin-right: 3px;
}

.pricing-margin-fix {
  margin-bottom: 40px;
}
