.product {
  margin-bottom: 5rem;

  h2 {
    @include tablet {
      font-size: 2rem;
    }
    @include mobile {
      font-size: 1.8rem;
      font-weight: 600;
    }
  }
  .card-image {
    .card-title {
      background: rgba(34, 34, 34, 0.7);
      color: $white-bg;
      font-weight: 700;
      display: block;
      width: 100%;

      @include tablet {
        font-size: 1.2rem;
      }
    }
  }
}

.card
  .card-action
  a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: $orange-tiger;
  font-weight: 800;
  padding: 5px;

  &:hover {
    color: $neat-blue;
  }
}
